header {
    padding-top: 3rem;
    overflow: hidden;
    width: 80%;
}

.header__container {
    margin-top: -3rem;
    text-align: center;
    position: relative;
}

header h1 {
    font-weight: 100;
    font-size: 2.5rem;
    margin-top: 2.5rem;
}

.container.header__header {
    display: flex;
    max-width: 80%;
}

.container.head__container h5,
h4 {
    font-size: 2.5rem;
    animation: letters-move 5s infinite ease-in-out;
    text-shadow: 3px 3px 0px var(--color-primary);
}

.container.head__container h1 {
    font-size: 2.5rem;
    animation: letters-move 3s infinite ease-in-out;
}

.cta {
    display: inline-flex;
    align-items: baseline;
    margin-top: 2.5rem;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me {
    background: linear-gradient(var(--color-primary), transparent);
    display: none;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    width: 25%;
    height: 60%;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
}

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
    padding-left: 1rem;
}

/* RESPONSIVE */

/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }

}

/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width:600px) {
    .container {
        width: var(--container-width-ms);
    }

    section>h2 {
        margin-bottom: 2rem;
    }

    .cta {
        flex-direction: column;
    }
}

@media screen and (max-width:400px) {
    header {
        margin-bottom: 5rem;
    }

    .cta {
        display: inline-block;
    }
}

/* ANIMATION */

@keyframes letters-move {
    0% {
        transform: translate(3px, -3px);
    }

    25% {
        transform: translate(0px, -3px);
    }

    50% {
        transform: translate(3px, 0px);
    }

    75% {
        transform: translate(0px, -3px);
    }

    100% {
        transform: translate(3px, -3px);
    }
}